# Compiled objects and modules
*.o
*.mod
*.log
*.out
*.slo
*.lo

# Compiler python objects
*.pyc

# emacs backups
*~

# OpenMC statepoints
*.binary

# Documentation builds
docs/build

# xml-fortran reader
src/xml-fortran/xmlreader

# Modules built from XML templates
src/templates/*.f90

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Executable
svm
